.App {
  text-align: center;
}
/* @media print, screen and (max-width: 300px){
    .App {
        background-color: black;
    }
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgb(213,241,167);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0,44,52);
  
  width: 100%;
  height: 100%;
}

.App-link {
    color: rgb(9,211,172);
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mode-buttons {
    width: 100%;
    height: 165px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mode-buttons button#q-mode {
    background-color: rgb(144,197,172);
    border: 1px solid rgb(144,197,172);
    width: 100%;
}
.mode-buttons button.item-type{
    background-color: rgb(75,130,100);
    border: 1px solid rgb(75,130,100);
    width: 100%;
}
.mode-buttons button.item-type:hover{
    /* for now item type is disabled for selection */
    cursor: not-allowed;
}
.mode-buttons button.text-type{
    background-color: rgb(65,165,120);
    border: 1px solid rgb(65,165,120);
    width: 100%;
}
.mode-buttons button.chapter-num {
    background-color: rgb(43,104,85);
    border: 1px solid rgb(43,104,85);
    width: 100%;
}
.mode-buttons button#reset {
    background-color: rgb(25,71,58);
    border: 1px solid rgb(25,71,58);
    width: 100%;
}

/* selected mode buttons */
.mode-buttons button.item-type.selected{
    background-color: white;
    border: 1px solid rgb(75,130,100);
    color: rgb(75,130,100);
}
.mode-buttons button.text-type.selected{
    background-color: white;
    border: 1px solid rgb(65,165,120);
    color: rgb(65,165,120);
}
.mode-buttons button.chapter-num.selected{
    background-color: white;
    border: 1px solid rgb(43,104,85);
    color: rgb(43,104,85);
}

/* active mode buttons */
.mode-buttons button#q-mode:active {
    color: rgb(25,71,58);
    background-color: white;
}
.mode-buttons button#reset:active {
    color: rgb(25,71,58);
    background-color: white;
}


button {
    background-color: rgb(0,44,52);
    color: white;
    border: 1px solid rgb(0,44,52);
    border-radius: 1%;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 1px 2px;
}
button#skip-button{
    background-color: white;
    color: rgb(0,44,52);
}
button#next-button {
    width: 30%;
    height: 50px;
}
button#hint-button {
    margin: 0 5px;
}

input {
    font-size: 1rem;
    padding: 4px 0;
}

.answer-border {
    border: 2px solid rgb(43,104,85);
    margin: 0 5%;
}